@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@500&family=Fasthand&family=Lora:wght@600&display=swap');

body{
    font-family: 'Delicious Handrawn', cursive;
    }
    .descripcionestexto{
        font-size: 1.5rem;
        text-align: center;
    }
    .h1html{
        font-size: 5rem;
        text-align: center;
        color:bisque;
        margin-top: 20vh;
    }
    .titulotexto{
        color:slateblue;
        font-weight: bold;
    }
    .año{
        font-size: 3rem;
        color:rebeccapurple;
    }
.descripcionestexto404{
    font-size: 2rem;
    text-align: center;
    color: slateblue;
    }