/*aplicado en scss de body, en scss main linea 70 y scss de footer */
$fondomain:bisque;
$fondofooter:rgb(194, 60, 92);

/*se utiliza mapa en scss contacto*/
$map-flex:(
    display:flex,
    justificacion:center,
    alineacion:center,
    direccion: column,
)

